<html>
<Form action = "http://127.0.0.1:8000/reserva/" method = "post"> 

<div class="form-group">

Nombre 
<input type="text" name="nombre" value="" />

</div>
<div class="form-group">

Apellido 
<input type="text" name="apellido" value="" />
</div>

<div class="form-group">

DNI 
<input type="number" name="DNI" value="" />
</div>
<div class="form-group">
Fecha de reserva 
<input type="date" name="fecha" step="1" min="2020-01-01" max="2020-12-31" value="">
</div>

<input type="submit" value="Crear Reserva">


</html>
