@front-face{
    font-family:black;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-Black.ttf);
}
p.tipografia_1{
    font-family:black;
    font-size: 20px;
}

@front-face{
    font-family:bold;
    font-style:normal;
    font-weight:normal;
    src: url(Enconde_Sans/EncodeSans-Bold.ttf);
}
p.tipografia_2{
    font-family:black;
    font-size: 25px;
}

@front-face{
    font-family:extrabold;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-ExtraBold.ttf);
}
p.tipografia_3{
    font-family:extrabold;
    font-size: 15px;
}

@front-face{
    font-family:extralight;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-ExtraLight.ttf);
}
p.tipografia_4{
    font-family:extralight;
    font-size: 30px;
}
@front-face{
    font-family:light;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-Light.ttf);
}
p.tipografia_5{
    font-family:light;
    font-size: 15px;
}

@front-face{
    font-family:medium;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-Medium.ttf);
}
p.tipografia_6{
    font-family:medium;
    font-size: 30px;
}
@front-face{
    font-family:regular;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-Regular.ttf);
}
p.tipografia_7{
    font-family:regular;
    font-size: 25px;
}
@front-face{
    font-family:semibold;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-SemiBold.ttf);
}
p.tipografia_8{
    font-family:semibold;
    font-size: 20px;
}
@front-face{
    font-family:thin;
    font-style:normal;
    font-weight:normal;
    src: url(Encode_Sans/EncodeSans-Thin.ttf);
}
p.tipografia_9{
    font-family:thin;
    font-size: 20px;
}
